*.iml
.idea
*venv*
.DS_Store

__pycache__
*.pyc

data/*.db
data/minio
data/location_coordinates.csv
*.duckdb
data/duckdb/

.dlt
*.env

.logs_queue
.nux
.telemetry
history
schedules
storage
dagster_home/logs/*

scripts

.ipynb_checkpoints
adhoc/*.csv
adhoc/*.db
