*.iml
.idea
*venv*
.DS_Store

__pycache__
*.pyc

data/*.db
data/minio
data/location_coordinates.csv
*.duckdb

.dlt
*.env

.logs_queue
.nux
.telemetry
history
schedules
storage

scripts

.ipynb_checkpoints